
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.icon-Ceibal-info {
    background-image: url("/home/ceibal/.local/share/gnome-shell/extensions/ceibalnotificador@ceibal.edu.uy/info.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
